<script>

//$("body.dark").find("a.navbar-brand img:visible").attr("src", "/uploads/Long logo_White.png");

//$("body:not(.dark)").find("a.navbar-brand img:visible").attr("src", "/uploads/Long logo_Black.png");

//$(":not(.dark) a.navbar-brand img").attr("src", "/uploads/Long logo_Black.png");
//$(".dark a.navbar-brand img").attr("src", "/uploads/Long logo_White.png");

//if (localStorage.getItem("theme") === "dark") {
//    console.log("Darkmode status = true");
//    $("body.dark").find("a.navbar-brand img:visible").attr("src", "/uploads/Long logo_White.png");
//  } else {
//    console.log("Darkmode status = false");
//    $("body:not(.dark)").find("a.navbar-brand img:visible").attr("src", "/uploads/Long logo_Black.png");
//  }



</script>